/*************************************
   color theme
 *************************************/
@import url("defaulttheme.css");

/*************************************
   body
 *************************************/
body {
	padding-top: 60px;  /* add padding to the top for navbar */
	background: var(--color-background);
	font-family: Verdana;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1em;
  font-size: 85%;
}
body p {
	color: var(--color-text);
}
body, p {
	line-height: 1.5em;
	margin-bottom: 1.2em;
}
div.page {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

/*************************************
   headers
 *************************************/
h1 {
	font-size: 170%;
	font-weight: bold;
	color: var(--color-h1);
}
h2 {
	font-size: 130%;
	font-weight: bold;
	color: var(--color-h2);
}
h3 {
	font-size: 120%;
	font-weight: bold;
	color: var(--color-h3);
	padding-top: 10px;
	margin-bottom: 5px;
}
h1, h2, h3 {
	border: none;
}

.postdoc {
	font-size: 180%;
	font-weight: bold;
	/* color: var(--color-h2); */
	margin-bottom: 0px;
	margin-top: 20px;
}
#contact-info {
	font-size: 125%;
	font-weight: bold;
	color: var(--color-h3);
	padding-top: 15px;
	margin-bottom: 0px;
}
hr {
	border-width: 2px;
	border-color: black;
}

/*************************************
   bullet list
 *************************************/
 li{
	color: var(--color-bullet);
	margin-top: 7px;
	margin-bottom: 7px;
}
li:first-child {
    margin-top: 10px;
}
li:last-child {
    margin-bottom: 25px;
}
li.nav-item {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*************************************
   bibliography
 *************************************/
ul.biblist {
	margin-bottom: 1.5em;
}
ul.biblist li {
	margin-bottom: -0.3em;
}
div.noshow {
	display: none;
}
div.bibtex {
	background: var(--color-infoblock);
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
	border: none;
	padding: 0.3em 0.5em;
	border-radius: 10px;
}
div.bibtex pre {
	color: var(--color-text);
	width: 100%;
	font-size: 85%;
	overflow: auto;
	margin-bottom: 0em;
	background: var(--color-infoblock);
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*************************************
   list description
 *************************************/
dt {
	color: var(--color-list);
}


/*************************************
   links
 *************************************/
body a {
	color: var(--color-link);
}
a:hover {
	color: var(--color-link-hover);
}


/*************************************
   bold
 *************************************/
b {
	font-weight: bold;
}
p b {
	font-style: bold;
}

/*************************************
   navigation bar
 *************************************/
nav.navbar {
  background: var(--color-navbar);
  padding-top: 0px;
}
nav.navbar button.navbar-toggler {
  display: none;
  border: none;
  background: var(--color-navbar);
}
nav.navbar span.navbar-toggler-icon {
  background: var(--color-navbar);
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=222a2a');
}
nav.navbar div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:link {
	color: var(--color-navbar-link);
	padding-top: 15px;
	font-size: 115%;
	text-align: center;
}
nav.navbar div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
	color: var(--color-navbar-link-hover);
}
nav.navbar div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:visited {
	color: var(--color-navbar-link);
}
nav.navbar div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
	color: var(--color-navbar-link-active);
	font-weight: bold;
}
nav.navbar a.navbar-brand {
	color: var(--color-navbar-brand);
	outline: 0;
	font: 250% Palatino;
	font-weight: bold;
}
nav.navbar a.navbar-brand:link {
	color: var(--color-navbar-brand);
}
nav.navbar a.navbar-brand:visited {
	color: var(--color-navbar-brand);
}
nav.navbar a.navbar-brand:hover {
	color: var(--color-navbar-brand);
}
nav.navbar a.navbar-brand.active {
	color: var(--color-navbar-brand);
}

/* insert invisible bold text in navbar so that it does not move when the page is selected */
nav.navbar div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link::before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 1px;
	color: transparent;
	overflow: hidden;
	visibility: hidden;
}

/*************************************
   jumbotron
 *************************************/
.jumbotron {
	padding: 1em 1em 0.25em 1em; /*top right bottom left*/
  background: var(--color-background-jumbotron);
  max-width: 1200px;
  min-width: 340px;
}

/*************************************
   blocktitle
 *************************************/
div.blocktitle {
	color: var(--color-blocktitle);
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 0.3em;
	border: none;
	font-size: 115%;
}

/*************************************
   blockcontent
 *************************************/
div.blockcontent {
	border: none;
	padding: 0.3em 0.5em;
	border-radius: 10px;
}
div.blockcontent p {
	color: var(--color-blockcontent);
}

/*************************************
   infoblock
 *************************************/
div.infoblock {
 	margin-right: 0%;
 	margin-top: 1.2em;
 	margin-bottom: 1.3em;
}
div.infoblock > div.blockcontent {
	background: var(--color-infoblock);
}
div.infoblock p {
	margin-bottom: 0.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.15em;
}

 /*************************************
   codeblock
 *************************************/
div.codeblock {
 	margin-right: 0%;
 	margin-top: 1.2em;
 	margin-bottom: 0em;
	margin-left: 0em;
}
div.codeblock pre {
	margin-bottom: 0em;
	margin-left: 0.5em;
}
div.codeblock > div.blockcontent {
	background: var(--color-codeblock-background);
}
div.codeblock > div.blockcontent > pre {
	color: var(--color-codeblock-text);
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 95%;
}
div.codeblock + p {
	margin-top: 0.5em;
}

 /*************************************
   images
 *************************************/
.img-dac-iter {
	max-height: 500px;
	margin: 0 auto;
}
.pic-headshot {
	max-height: 200px; /*160px;*/
}
.pic-research {
	max-width: 150px;
	margin: 0px 20px 10px 0px;
}
div.research-project {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.expanded {
  padding-left: 0px;
  margin-left: 0px;
}

 /*************************************
   customization for large/small devices
 *************************************/
 
.short-text { display: none; }

/* small devices */
@media (max-width: 767.98px) {
  body {font-size: 70%;}
  nav.navbar button.navbar-toggler {
    display: block;
  }
  .pic-headshot {
    max-height: 125px;
    margin-top: 5px;
  }
  .postdoc {
    margin-top: 0px;
    font-size: 160%;
  }
  .pic-research {
    max-width: 75px;
    margin: 0px 20px 10px 0px;
  }
  .short-text { display: block; }
  .full-text { display: none; }
}