/*************************************
   default theme
 *************************************/
:root {
	--color-text: black;
	--color-background: #153a47;
	--color-background-jumbotron: #daddd5;
	--color-navbar: #222a2a;
	--color-navbar-link: #f1f4f4;
	--color-navbar-link-hover: #c6d2d2;
	--color-navbar-link-active: #f1f4f4;
	--color-navbar-brand: #f1f4f4;
	--color-h1: black;
	--color-h2: black;
	--color-h3: black;
	--color-bullet: black;
	--color-list: black;
	--color-link: #2952a3;
	--color-link-hover: blue;
	--color-blocktitle: #222a2a;
	--color-blockcontent: black;
	--color-codeblock-background: #bbc3c3;
	--color-codeblock-text: black;
	--color-infoblock: #bbc3c3;
}
