body {
	font: 80% Verdana;
	margin-left: 2em;
	margin-top: 1em;
	background: #f7f7f7;
}

pre, tt {
	font-size: 110%;
	background: white;
}

tt {
	color: #c5050c;
}

pre {
	color: #282728;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
	color: #0479a8;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 115%;
}

h3 {
	font-size: 100%;
}

h1, h2, h3, div.blocktitle {
	color: #c5050c;
	border: none;
}

div.blockcontent {
	border: none;
}

div.infoblock > div.blockcontent {
	background: #dadfe1;
}

div.codeblock > div.blockcontent, div.blockcontent pre {
	background: #dadfe1;
}

body, p {
	line-height: 1.5em;
	margin-bottom: 1.2em;
}

#tlayout {
	border-collapse: collapse;
	border: none;
}

#layout-menu {
	padding-top: 3.0em;
	padding-left: 20px;
	padding-right: 20px;
	background: #f7f7f7;
	text-align: right;
	border: none;
}

#layout-content {
	padding-left: 25px;
	padding-top: 1em;
	width: 600px;
	background: #f7f7f7;
	border: none;
}

b {
	font-weight: bold;
}

p b {
	font-style: bold;
}

div.menu-category {
	border: none;
	margin-top: 1.0em;
	padding-bottom: 0;
}

div.menu-item {
	padding-left: 0;
	text-indent: 0;
	padding-bottom: 2px;
}

#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #282728;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #9b0000;
}

div#footer {
	border-top: 1px solid #adadad;
	font-size: 80%;
	padding-bottom: none;
	background: white;
}

div#footer a {
	color: #adadad;
	border-bottom: 1px solid #cccccc;
}

div#toptitle {
	border: none;
}
