/*************************************
  Computer Modern Sans
*************************************/
@font-face {
  font-family: "Computer Modern Sans";
  src: url(fonts/cmunss.ttf);
}
@font-face {
  font-family: "Computer Modern Sans";
  src: url(fonts/cmunsx.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern Sans";
  src: url(fonts/cmunsi.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern Sans";
  src: url(fonts/cmunso.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern Sans";
  src: url(fonts/cmunbsr.ttf);
  font-weight: 500 600;
}

/*************************************
  Computer Modern Serif
*************************************/
@font-face {
  font-family: "Computer Modern Serif";
  src: url(fonts/cmunrm.ttf);
}
@font-face {
  font-family: "Computer Modern Serif";
  src: url(fonts/cmunbx.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern Serif";
  src: url(fonts/cmunti.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern Serif";
  src: url(fonts/cmunbi.ttf);
  font-weight: bold;
  font-style: italic;
}