<nav>

  <!-- logo -->
  <div class="logo">
    Bryan Van Scoy
  </div>
  
  <!-- toggler -->
  <button class="toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleVisibility('links')">
    <i class="fa-solid fa-bars fa-xl"></i>
  </button>
  
  <!-- links -->
  <div class="links" id="links">
    <a href="/">About</a>
    <a href="/publications/">Publications</a>
    <a href="/research/">Research</a>
    <a href="/courses/">Courses</a>
    <a href="/cv/">CV</a>
  </div>
</nav>