{{ define "main" }}
  
  <div class="header">
    <img src="{{ .Params.image }}" alt="headshot"/>
    <div>
        <p id="position">{{ .Params.position }}</p>
        <a href="{{ .Params.department_link }}" target="_blank">{{ .Params.department }}</a>
        <br />
        <a href="{{ .Params.university_link }}" target="_blank">{{ .Params.university }}, {{ .Params.city }}, {{ .Params.state }}</a>
    </div>
  </div>
  
  {{ .Content }}

  {{ with .Params.contact }}
  <div class="section">
    <h2>Contact Information</h2>
    <ul class="links">

      {{ with .address }}
      <li><a href="https://{{ .url }}" target="_blank"><i class="fas fa-map-marker-alt icon"></i>{{ .location }}</a></li>
      {{ end }}

      {{ with .email }}
      <li><a href="mailto:{{ . }}" target="_blank"><i class="fas fa-envelope icon"></i>{{ . }}</a></li>
      {{ end }}

      {{ with .url }}
      <li><a href="#"><i class="fas fa-globe icon"></i>{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  
  {{ with site.Params }}

  <div class="section">
    <h2>Profiles</h2>
    <ul class="links">
      
      {{ with .googlescholar}}
      <li><a href="https://scholar.google.com/citations?user={{ . }}" target="_blank"><i class="ai ai-google-scholar"></i>Google Scholar</a></li>
      {{ end }}
      
      {{ with .github }}
      <li><a href="https://github.com/{{ . }}" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a></li>
      {{ end }}

      {{ with .ieee }}
      <li><a href="https://ieeexplore.ieee.org/author/{{ . }}" target="_blank"><i class="ai ai-ieee"></i>IEEE</a></li>
      {{ end }}
      
      {{ with .orcid }}
      <li><a href="https://orcid.org/{{ . }}" target="_blank"><i class="ai ai-orcid"></i>ORCID</a></li>
      {{ end }}
    
      {{ with .semanticscholar }}
      <li><a href="https://www.semanticscholar.org/author/{{ . }}" target="_blank"><i class="ai ai-semantic-scholar"></i>Semantic Scholar</a></li>
      {{ end }}
      
      {{ with .dblp }}
      <li><a href="https://dblp.org/pid/{{ . }}.html" target="_blank"><i class="ai ai-dblp"></i>dblp</a></li>
      {{ end }}
  </ul>
  </div>
  {{ end }}
{{ end }}